:root {
    --color-primary: #f6f6f6;
    --color-secondary: #000000;
    --color-tertiary: #0A3871;
    --color-border: #20c2f3; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

.logo_header {
    height: 50px;
}

.container_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
}

.container_input {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.container_output {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 2px dashed var(--color-border);
}

.container_textarea {
    margin-bottom: 20px;
}

.text_to_convert {
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 150px;
    padding: 10px;
    border: 2px dashed var(--color-border);
    border-radius: 8px; 
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.text_to_convert::placeholder {
    color: var(--color-tertiary);
}

.text_alert {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #55555571;
}

.container_zone_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container_buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.button_encrypt, .button_decrypt {
    width: 328px;
    padding: 10px;
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.button_decrypt {
    background-color: grey;
}

.container_output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.output_clear {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.output_clear img {
    max-width: 100%;
    height: auto;
    gap: 25px;
}

.output_clear h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.output_clear p {
    font-size: 0.9em;
    color: #55555571;
}

.output_result {
    display: none;
}

.output_result_text {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.footer {
    background-color: var(--color-tertiary);
    padding: 1.5rem;
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


@media (max-width: 800px) {
    .container_main {
        flex-direction: row;
        justify-content: space-between;
    }

    .container_input {
        margin-bottom: 0;
    }

    .container_buttons {
        margin-top: 20px;
        gap: 24px;
    }
}